.btn {
  border-radius: 3px;
  width: 100%;
  display: inline-block;
  line-height: 42px;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}