.content {
  background: #FFC9C9;
}

.content .content_1 {
  margin: 21px 14px;
  font-size: 15px;
  line-height: 19px;
}

.content .content_1 div:first-child {
  margin-bottom: 19px;
}

.content .content_2 {
  display: flex;
  justify-content: space-around;
}



