.side_bar {
  /* padding: 0 14px; */
}

.side_bar .side_step_1 {
  width: calc(100% - 28px);
  margin: 0 auto;
}

.side_bar .side_step_1 .select,
.side_bar .side_step_1 input {
  margin-bottom: 25px;
}

/* ============================= */
.side_bar .side_step_2 {
  width: calc(100% - 40px);
  padding: 19px 20px;
  background-color: #ECF0F9;
  color: #888888;
}

.side_bar .side_step_2 .step2_title {
  font-size: 23.5px;
  text-transform: uppercase;
  line-height: 34px;
  margin-bottom: 15px;
}

.side_bar .side_step_2 .step2_title:last-of-type {
  margin-bottom: -11px;
}

.side_bar .side_step_2 .step2_title .step2_text {
  font-size: 19px;
  text-transform: none;
  line-height: 25px;
  margin-top: 6px;
}

/* ============================= */

.side_bar .side_step_3 {
  background-color: #E9EEF8;
  width: 100%;
  width: calc(100% - 40px);
  padding: 14px 20px;
  background-color: #ECF0F9;
  color: #888888;
}

.side_bar .side_step_3 .side_step_3_title {
  font-size: 23.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.side_bar .side_step_3 .side_step_3_big {
  font-size: 19px;
}

.side_bar .side_step_3 .side_step_3_article {
  line-height: 26px;
}
